body{
    margin: 0;
    background-color: linear-gradient(bottom, #FCE5CC, #F7CC9C);
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    width: 500px;
    height: 500px;
    background-color: linear-gradient(bottom, #DDB180, #D3A169, #C88E4C);
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}