body{
    margin: 0;
    background-image: linear-gradient(to top, #FCE5CC, #F7CC9C);
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    width: 500px;
    height: 500px;
    background-image: radial-gradient(#DDB180, #D3A169, #C88E4C);
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}